@media all and (max-width: 1000px) {
  .body{
    width: 100%
  }

  .top-wrapper h1 {
    font-size: 25px;
  }

  .heading h2 {
    font-size: 20px;
  }

  .cat {
    width: 45%;
    margin-bottom: 50px;
  }

  .message-wrapper {
    margin-bottom: 50px;
  }

  .message-wrapper img{
    width: 100%;
    margin-bottom: 50px;
  }

  .slide-wrapper{
    width: 100%;
    padding-right: 10px;
  }
}

@media all and (max-width: 670px) {
  .body{
    width: 100%
  }

  .logo{
    font-size: 20px;
  }

  .header-right {
    display: none;
  }

  .twitter {
    width: 60%;
  }


/* メニューアイコン ここから*/
  .header-right{
    display:none;
  }

  .menu-icon{
    display:block;
  }
/* メニューアイコンここまで*/

  .top-wrapper {
    padding-top:130px;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .cat {
    width: 100%;
  }

  footer {
    text-align: center;
  }
  
  .slide-wrapper{
    width: 80%;
    padding-right: 10px;
  }

  .change-btn-wrapper{
    width: 100%;
  }

  .slides img{
    width: 80%;
  }


}
